<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carnoc.flight.flightInformation.dao.AircompanytBasicDataDao">


    <!--获得所有的航空公司-->
    <select id="getAircompanytBasicData" resultType="AircompanytBasicData">
        select id,code,en_abb ,name,branch_name,two_code,three_code,attribute,tel,linkman,linkman_post,first_time,email from f_aircompanyt_basic_data;
    </select>

</mapper>